.register {
    background-image: url("../assets/testimage10.png");
    background-size:cover;
    width: 100vw;
    height: 100vh;
}

.register-content {
    width: fit-content;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.register-container {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 10px;
    /*background-color: rgb(46, 46, 46);*/
    background-color: rgb(24, 24, 24);
    /*opacity: .9;*/
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20em;
    max-width: 70vw;
    height: 30em;
    min-height: max-content;
    text-align: center;
    color: lightgray;
}

#email-input-id {
    border: none;
    /*border-bottom: solid 2px lightgray;*/
    height: 2em;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(63, 63, 63);
    color: white;
}

#pass-input-id {
    border: none;
    /*border-bottom: solid 2px lightgray;*/
    height: 2em;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(63, 63, 63);
    color: white;
}

.register-link {
    text-decoration: none;
    color: lightgray;
}

.register-question {
    text-decoration: none;
    color: lightgray;
}

#register-submit-id {
    width: max-content;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border: solid 2px black;
    border-radius: 5px;
}

.register-error-box {
    width: 0;
    overflow: hidden;
}

.register-error-box-show{
    color: white;
    background-color: red;
    width: 60vw;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}