.home {
    background-color: rgb(255, 255, 255);
    background-image: url("../assets/testimagenine.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.description-sections {
    /*width: fit-content;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /*margin: auto;*/
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.0rem;
}

.description-title {
    line-height: 3rem;
}

.sign-up-button-link {
    width: 30%;
}

#link-spacing {
    margin-bottom: 1em;
}

.sign-up-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgb(195, 230, 187);*/
    background-color: rgb(208, 245, 199);
    border-radius: 5px;
    border-width: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: all 0.1s ease-in-out;
}

.sign-up-button:hover {
    /*background-color: rgb(208, 245, 199);*/
    background-color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.sign-up-button:active {
    /*background-color: rgb(255, 255, 255);*/
    background-color: rgb(195, 230, 187);
    transition: all 0.1s ease-in-out;
}

#sign-up-button-id {
    background-color: white;
    transition: all 0.1s ease-in-out;
}
 

#sign-up-button-id:hover {
    background-color: rgb(208, 245, 199);
    transition: all 0.2s ease-in-out;
}

#sign-up-button-id:active {
    background-color: white;
    transition: all 0.1s ease-in-out;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.home-img {
    max-width: 25em;
    margin-left: 5%;
    margin-right: 5%;
    min-width:10%;
}

.description-right {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.description-left {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.description-p {
    word-wrap: break-word;
    max-width: 25em;
    line-height: 2.5rem;
    /*margin-left: 5%;
    margin-right: 5%;*/
}

#main-content-id-2 {
    margin-bottom: 10%;
}

.top {

}

.bottom {
    /*background-color:rgb(208, 245, 199)*/
    /*background-color: rgb(29, 29, 29);*/
}